*{
    margin: 0%;
    padding: 0%;
}

.container{
    height: 1500px;
    padding:20px;
    /* background-color: azure; */
}

.header{
    background-color: aqua;
    padding: 10px;
    color: azure;
    font-size: 20px;
    position: sticky;
    top: 0%;
    text-align: center;
}


.content{
    margin-top: 20px;
}
.box{
    height: 300px;
    background-color: antiquewhite;
    margin-bottom: 20px;
    padding: 30px;
}